In [9]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree 
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    17       1     HipHop
1    18       1     HipHop
2    19       1     HipHop
3    20       1     HipHop
4    21       1     HipHop
5    22       1     HipHop
6    23       1     HipHop
7    24       1     HipHop
8    25       1     HipHop
9    26       1     HipHop
10   27       1       Jazz
11   28       1       Jazz
12   29       1       Jazz
13   30       1       Jazz
14   31       1  Classical
15   33       1  Classical
16   37       1  Classical
17   38       1  Classical
18   39       1  Classical
19   40       1  Classical
20   41       1  Classical
21   42       1  Classical
22   43       1  Classical
23   44       1  Classical
24   45       1  Classical
25   17       0      Dance
26   18       0      Dance
27   19       0      Dance
28   20       0      Dance
29   21       0      Dance
30   22       0      Dance
31   23       0      Dance
32   24       0      Dance
33   25       0      Dance
34   26       0   Acoustic
35   27       0   Acoustic
36   28       0   Acoustic
37   30       0   Acoustic
38   31       0  Classical
39   32       0  Classical
40   33       0  Classical
41   34       0  Classical
42   35       0  Classical
43   36       0  Classical
44   37       0  Classical

In [10]:
X = music_data.drop(columns=['genre'])
X

    age  gender
0    17       1
1    18       1
2    19       1
3    20       1
4    21       1
5    22       1
6    23       1
7    24       1
8    25       1
9    26       1
10   27       1
11   28       1
12   29       1
13   30       1
14   31       1
15   33       1
16   37       1
17   38       1
18   39       1
19   40       1
20   41       1
21   42       1
22   43       1
23   44       1
24   45       1
25   17       0
26   18       0
27   19       0
28   20       0
29   21       0
30   22       0
31   23       0
32   24       0
33   25       0
34   26       0
35   27       0
36   28       0
37   30       0
38   31       0
39   32       0
40   33       0
41   34       0
42   35       0
43   36       0
44   37       0

In [11]:
Y = music_data['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3        HipHop
4        HipHop
5        HipHop
6        HipHop
7        HipHop
8        HipHop
9        HipHop
10         Jazz
11         Jazz
12         Jazz
13         Jazz
14    Classical
15    Classical
16    Classical
17    Classical
18    Classical
19    Classical
20    Classical
21    Classical
22    Classical
23    Classical
24    Classical
25        Dance
26        Dance
27        Dance
28        Dance
29        Dance
30        Dance
31        Dance
32        Dance
33        Dance
34     Acoustic
35     Acoustic
36     Acoustic
37     Acoustic
38    Classical
39    Classical
40    Classical
41    Classical
42    Classical
43    Classical
44    Classical
Name: genre, dtype: object

In [38]:
# to calculate accuracy

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(x_test)
print(predictions)
score = accuracy_score(y_test, predictions) 
score

    age  gender
26   18       0
20   41       1
2    19       1
32   24       0
10   27       1
6    23       1
23   44       1
33   25       0
44   37       0
['Dance' 'Classical' 'HipHop' 'Dance' 'HipHop' 'HipHop' 'Classical'
 'Acoustic' 'Classical']

0.7777777777777778

In [11]:
#Train model and predict
model = DecisionTreeClassifier()
model.fit(X,Y)
predictions = model.predict([[21,0],[26.5,1]])
predictions

array(['Dance', 'HipHop'], dtype=object)

In [7]:
# for persistence 
model = DecisionTreeClassifier()
model.fit(X,Y)
joblib.dump(model, 'music_recommender.joblib')

['music_recommender.joblib']

In [8]:
joblib.load('music_recommender.joblib')
predictions = model.predict([[21,0],[26.5,1]])
predictions

array(['Dance', 'HipHop'], dtype=object)

In [14]:
# for visualising the model
model = DecisionTreeClassifier()
model.fit(X,Y)
tree.export_graphviz(model, out_file = "music_recommender.dot", 
                   feature_names = ['age', 'gender'],
                    class_names = sorted(Y.unique()),
                    label = 'all',
                   rounded = True,
                    filled = True
                   )